<section class="home">
  <h1 class="home-title">Log in</h1>
  <app-login-form></app-login-form>
  <div class="home-or">
    <img src="../../../../../assets/images/Line 2.svg" alt="Linha" class="home-or-line">
    <p class="home-or-desc">Ou</p>
    <img src="../../../../../assets/images/Line 2.svg" alt="Linha" class="home-or-line">
  </div>
  <div class="home-social-media">
    <img src="../../../../../assets/images/Google.svg" alt="Google" class="home-social-media-img">
    <img src="../../../../../assets/images/Facebook.svg" alt="Facebook" class="home-social-media-img">
    <img src="../../../../../assets/images/Apple.svg" alt="Apple" class="home-social-media-img">
  </div>
  <p class="home-signup-desc">
    Não tem uma conta? <a class="home-signup-desc-link" href="#"> Cadastre-se!</a>
  </p>
</section>
